/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
}

/* Profile Page Layout */
.profile-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 50px auto;
  gap: 20px;
}

/* Card Styles */
.card {
  background-color: #000;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent; /* Start with no visible border */
  flex: 1;
  transition: 
    transform 0.3s ease, 
    box-shadow 0.3s ease, 
    background-color 0.4s ease, 
    border-color 0.3s ease; /* Add transition for border color */
  animation: slideIn 0.8s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff; /* Soft light grey on hover */
  border-color: #007bff; /* Change border color to blue on hover */
}

.card:hover h2,
.card:hover p {
  color: #666; /* Darker text for better contrast */
}

/* Slide-in animation for the cards */
@keyframes slideIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* About Section (Left Side) */
.about-section h2 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

.about-section p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  text-align: justify;
}

/* Profile Section (Right Side) */
.profile-section {
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  animation: zoomIn 1s ease;
}

.profile-section h2 {
  font-size: 1.8em;
  color: #007bff;
  margin-bottom: 5px;
}

.profile-section p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 15px;
}

.about-section:hover{
  background-color: #1a1a1a; /* Subtle background change */
  transform: scale(1.05); /* Slight scaling on hover */
  box-shadow: 0 10px 20px rgba(0, 212, 255, 0.5); /* Subtle blue glow */
}

.about-section p:hover{
  color: #fff;
}

/* Contact Info */
.contact-info {
  margin-top: 20px;
  font-size: 1.1em;
  text-align: left;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
}

.contact-info a:hover {
  color: #0056b3; /* Slightly darker blue for hover */
  transform: scale(1.1); /* Scale up slightly for interaction feedback */
}

.profile-section:hover{
  background-color: #1a1a1a; /* Subtle background change */
  transform: scale(1.05); /* Slight scaling on hover */
  box-shadow: 0 10px 20px rgba(0, 212, 255, 0.5); /* Subtle blue glow */
}

.profile-section p:hover{
  color: #fff;
}

/* Zoom-in effect for profile picture */
@keyframes zoomIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
